.logoEstilo {
    width: 100px;
    border-radius: 60%;
    border: solid 3px orange;
  }

   .titulonav {
    display: block;
    background: linear-gradient(to top, grey, black);
  }

  .carrito {
    width: 80%;
  }

  .bloqueCarrito {
    background-color: beige;
    color: black;
    width: 100px;
    border-radius: 10px;
    margin: auto;
    border: solid 2px black;
  }

  .bloqueCarritoCentrado {
    background-color: orange;
  }