
.divContador {
    padding: 10px;
    background-color: black;
}

.contadorBotonAgregar {
    padding: 5px 10px 5px 10px;
}

.contadorBotonEstilo {
    padding: 0px 20px 0px 20px;
}

.contenedorContadorBotones {
    width: 90%;
    border-radius: 10px;
    text-align: center;
    border: solid 1px white;
    background-color: rgb(255, 166, 0);
    margin: auto;
}

.contenedorContadorCentrado {
    
    width: 100%;
}
