*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.imagenCards {
  width: 200px;
  background-color: black;
  border: solid 2px black;
}

.contenedorCards {
  background-color: rgb(197, 197, 42);
  width: 100%;
  border-radius: 10px;
  border: solid 2px white;
  text-align: center;
  margin: 10px 0px 10px 0px;
}

.contenedorExternoMargen{
  margin: 100px 100px 0px 100px;
  background-image: linear-gradient(to top, grey, black);
}

.contenedorPadreCards {
  display: flex;
  direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 100px 200px 0px 200px;
}

.ContenedorDetalle{
  display: flex;
  direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contenedorNomrbreImgDetalle{
  border: solid 2px white;
  border-radius: 10px;
  text-align: center;
}

.imagenDetalle {
  width: 400px;
}

.ContenedorContadorDetail{
  width: 300px;
  margin: auto;
}

.contenedorDetalle{
  width: 600px;
  margin-bottom: 100px;
}

.botonIrAlCarrito{
  text-decoration: none;
  background-color: orange;
  color: white;
  border-radius: 10px;
  border: solid 2px yellow;
  padding: 5px;
  margin: auto;
}

.bloqueCart {
  color: white;
}

.bloqueTabla {
  margin: auto;
  width: 90%;
  margin-top: 50px;
  background-image:  linear-gradient(to top, rgba(0, 0, 255, 0.5), black);
  border-radius: 10px;
  padding: 10px;
}

.botonesTabla {
  padding: 10px;
  color: azure;
  background-color: rgb(151, 120, 61);
  border: solid 1px yellow;
  border-radius: 10px;
  margin-top: 30px;
}

.botonesTablaPagar {
  padding: 10px 100px 10px 100px;
  color: azure;
  background-color: rgb(151, 120, 61);
  border: solid 1px yellow;
  border-radius: 10px;
}

.bloqueBotonPagar {
  text-align: center;
  margin-top: 50px;
}

.linkContinuarComprando {
  text-decoration: none;
  background-color: orange;
  color: aliceblue;
  border: solid 1px red;
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
}

.bloqueLinkContinuar {
  text-align: center;
  margin-top: 30px;
}

.App-header {
  background-image: url(fondo.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover; 
}